*               @sonm-io/Platform
*.go            @3Hren @antmat @sshaman1101 @oopcode
/debian         @3Hren @antmat @sshaman1101
/blockchain/    @sonm-io/solidity
/insonmnia/dwh/ @oopcode
/cmd/cli/       @sshaman1101
/cmd/pandora/   @3Hren
/optimus/       @3Hren
/cmd/sonmmon/   @kmeaw
