[submodule "blockchain/tsc"]
	path = blockchain/tsc
    	url=https://github.com/sonm-io/deals-registry
[submodule "blockchain/market"]
	path = blockchain/market
	url = https://github.com/sonm-io/market.git
	branch = master
[submodule "blockchain/certs"]
	path = blockchain/certs
	url = https://github.com/sonm-io/certificate-registry
	branch = master
