dist: trusty
sudo: "required"

language: "go"

go:
    - 1.8.x

services:
    - "docker"

script:
    - go get github.com/golang/mock/gomock
    - go get github.com/golang/mock/mockgen
    - make all
