dist: trusty
sudo: "required"

language: "go"

go:
    - 1.9.x

services:
    - "docker"

before_install:
  - sudo apt-get install debhelper devscripts dh-systemd ocl-icd-opencl-dev -y

install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable
  - git submodule update

script:
    - go get github.com/golang/mock/gomock
    - go get github.com/golang/mock/mockgen
    - make all
    - GO=$(which go) make deb
