dist: trusty
sudo: "required"

language: "go"

go:
    - 1.9.x

env:
  - BUILD_TYPE=Tests
  - BUILD_TYPE=Debian
#  - BUILD_TYPE=Coverage

services:
    - "docker"

before_install:
  - sudo apt-get update
  - sudo apt-get install debhelper devscripts dh-systemd ocl-icd-opencl-dev -y

install:
  - git submodule update

script:
    - go get github.com/golang/mock/gomock
    - go get github.com/golang/mock/mockgen
    - |
      case "${BUILD_TYPE}" in
        Tests)
          make all
          ;;
        Debian)
          GO=$(which go) make deb
          ;;
        Coverage)
          make mock
          make coverage;
          bash <(curl -s https://codecov.io/bash);
          ;;
        *)
          echo "Unknown BUILD_TYPE value"
          exit 1
      esac
