version: 0.4.21.{build}

platform: x86

branches:
  only:
    - master

clone_folder: c:\gopath\src\github.com\sonm-io\core

environment:
  GOPATH: c:\gopath
  GO111MODULE: on

install:
  - set PATH=%GOPATH%\bin;c:\go\bin;%PATH%
  - set GOOS=windows
  - set GOARCH=386

build_script:
  - git submodule update --init --recursive
  - c:\MinGW\bin\mingw32-make.exe build/cli
  - c:\MinGW\bin\mingw32-make.exe build/node
  - c:\MinGW\bin\mingw32-make.exe build/optimus

artifacts:
  - path: target/sonmcli_windows_386.exe
    name: CLI

  - path: target/sonmnode_windows_386.exe
    name: Node

  - path: target/sonmoptimus_windows_386.exe
    name: Optimus
