version: 0.3.3.{build}

platform: x86

clone_folder: c:\gopath\src\github.com\sonm-io\core

environment:
  GOPATH: c:\gopath

install:
  - set PATH=%GOPATH%\bin;c:\go\bin;%PATH%
  - set GOOS=windows
  - set GOARCH=386

build_script:
  - git submodule update --init --recursive
  - c:\MinGW\bin\mingw32-make.exe build/cli_win32
  - c:\MinGW\bin\mingw32-make.exe build/node_win32

artifacts:
  - path: sonmcli_win32.exe
    name: CLI

  - path: sonmnode_win32.exe
    name: Node
