[Unit]
Description=Bootnode

[Service]
PIDFile=/var/run/bootnode.pid
WorkingDirectory=/home/app/bootnode

User=app
Group=app

ExecStart=/home/app/bootnode/bootnode_linux64
Restart=on-failure

[Install]
WantedBy=multi-user.target
