Source: sonm-core
Section: misc
Priority: optional
Maintainer: Anton Tyurin <noxiouz@yandex.ru>
Build-Depends: debhelper (>= 9), dh-systemd, ocl-icd-opencl-dev, libnl-3-dev, libnl-route-3-dev, bash-completion, libsdl2-dev, libsdl2-image-dev, libsdl2-ttf-dev, libsdl2-gfx-dev, ca-certificates
#golang (>= 2:1.7~1ubuntu1)
Standards-Version: 3.9.8
Homepage: https://github.com/sonm-io/core
Vcs-Git: https://github.com/sonm-io/core.git
Vcs-Browser: https://github.com/sonm-io/core

Package: sonm-worker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencl1, btrfs-progs | btrfs-tools, cifs-utils
Conflicts: sonm-hub
Replaces: sonm-hub
Description: Worker daemon for SONM network
 Provides computational resources for SONM network

Package: sonm-cli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CLI for SONM network
 Gonna deprecate this one

Package: sonm-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Node for SONM network
 Local proxy that provides SONM Node API for clients

Package: sonm-rendezvous
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Rendezvous allows to connect two clients
 Rendezvous penetrating several types of NAT
 and allows clients to connect with each other without having
 publicity-available IP-addresses.

Package: sonm-relay
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Relay transports TCP traffic in the userland
 The Relay server is a tool used to penetrate the NAT
 in case of over-paranoid network configurations,
 such as Symmetrical NAT or manual iptables hacks.

Package: sonm-dwh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DWH caches actual data from blockchain
 The DWH service communicates with Geth node and
 caches event data into the local database.

Package: sonm-optimus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Optimus an the auto-sell bot
 The Optimus able to analyze market and
 create Ask-orders in a most profitable way.

Package: sonm-connor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Connor is the auto-buy bot
 The Connor buys all available GPU resources
 on market.

Package: sonm-oracle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Oracle change token price
 The Oracle is looking for actual price
 and propose changes to smart-contract at sidechain.

Package: sonm-consumer
Architecture: any
Depends: sonm-cli, sonm-node
Description: Consumer software pack for SONM Network
 This package provides cli and node.

Package: sonm-supplier
Architecture: any
Depends: sonm-cli, sonm-node, sonm-worker, sonm-optimus
Description: Supplier software pack for SONM Network
 This package provides cli, node, worker
 and optimus bot.

Package: sonm-mon
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libsdl2-ttf-2.0-0, libsdl2-image-2.0-0, libsdl2-2.0-0, python, sudo, procps
Description: SONM worker monitor
