#!/usr/bin/make -f
#export DH_VERBOSE = 1


%:
	dh $@ --with systemd --with bash-completion

override_dh_auto_build:
	GPU_SUPPORT=true make -j build/insomnia build/aux

	mv target/sonmcli_linux_x86_64 target/sonmcli
	mv target/sonmworker_linux_x86_64 target/sonmworker
	mv target/sonmnode_linux_x86_64 target/sonmnode
	mv target/sonmrendezvous_linux_x86_64 target/sonmrendezvous
	mv target/sonmrelay_linux_x86_64 target/sonmrelay
	mv target/sonmdwh_linux_x86_64 target/sonmdwh
	mv target/sonmoptimus_linux_x86_64 target/sonmoptimus
	mv target/sonmoracle_linux_x86_64 target/sonmoracle
	mv target/sonmconnor_linux_x86_64 target/sonmconnor
	mv target/sonmmon_linux_x86_64 target/sonmmon

	./target/sonmcli completion bash > sonmcli.bash-completion

override_dh_auto_test:
	echo "skip tests"

override_dh_auto_install:
	install -d $(DEB_DESTDIR)etc/sonm/
	install -m644 etc/worker.yaml $(DEB_DESTDIR)etc/sonm/worker-default.yaml
	install -m644 etc/node.yaml $(DEB_DESTDIR)etc/sonm/node-default.yaml
	install -m644 etc/rendezvous.yaml $(DEB_DESTDIR)etc/sonm/rendezvous-default.yaml
	install -m644 etc/relay.yaml $(DEB_DESTDIR)etc/sonm/relay-default.yaml
	install -m644 etc/dwh.yaml $(DEB_DESTDIR)etc/sonm/dwh-default.yaml
	install -m644 etc/optimus.yaml $(DEB_DESTDIR)etc/sonm/optimus-default.yaml
	install -m644 etc/oracle.yaml $(DEB_DESTDIR)etc/sonm/oracle-default.yaml
	install -m644 etc/connor.yaml $(DEB_DESTDIR)etc/sonm/connor-default.yaml

override_dh_systemd_start:
	echo "Not running dh_systemd_start"

override_dh_auto_clean:
	rm -rf etc/sonm/
	rm -f sonmcli.bash-completion
	dh_auto_clean
