[Unit]
Description=SONM Worker


[Service]
EnvironmentFile=/etc/default/sonm-worker
Type=simple
ExecStart=/usr/bin/sonmworker --config=${CONFIG_PATH}
Restart=on-failure


[Install]
WantedBy=multi-user.target
