[Unit]
Description=SONM Node


[Service]
EnvironmentFile=/etc/default/sonm-node
Type=simple
ExecStart=/usr/bin/sonmnode --config=${CONFIG_PATH}
User=sonm

Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3


[Install]
WantedBy=multi-user.target
