[Unit]
Description=SONM DWH


[Service]
EnvironmentFile=/etc/default/sonm-dwh
Type=simple
ExecStart=/usr/bin/sonmdwh --config=${CONFIG_PATH}
Restart=on-failure
LimitNOFILE=65535


[Install]
Wants=network-online.target
After=network.target network-online.target
