[Unit]
Description=SONM Worker
Wants=network-online.target
After=network.target network-online.target


[Service]
EnvironmentFile=/etc/default/sonm-worker
Type=simple
ExecStart=/usr/bin/sonmworker --config=${CONFIG_PATH}
Restart=on-failure


[Install]
WantedBy=multi-user.target
