[Unit]
Description=SONM Rendezvous
Wants=network-online.target
After=network.target network-online.target


[Service]
EnvironmentFile=/etc/default/sonm-rendezvous
Type=simple
ExecStart=/usr/bin/sonmrendezvous --config=${CONFIG_PATH}
Restart=always
LimitNOFILE=65535


[Install]
WantedBy=multi-user.target
