[Unit]
Description=SONM Oracle


[Service]
EnvironmentFile=/etc/default/sonm-oracle
Type=simple
ExecStart=/usr/bin/sonmoracle --config=${CONFIG_PATH}
Restart=on-failure


[Install]
Wants=network-online.target
After=network.target network-online.target
