[Unit]
Description=SONM Optimus


[Service]
EnvironmentFile=/etc/default/sonm-optimus
Type=simple
ExecStart=/usr/bin/sonmoptimus --config=${CONFIG_PATH}
Restart=on-failure


[Install]
WantedBy=multi-user.target
