[Unit]
Description=SONM Marketplace


[Service]
EnvironmentFile=/etc/default/sonm-marketplace
Type=simple
ExecStart=/usr/bin/sonmmarketplace --config=${CONFIG_PATH}
Restart=on-failure


[Install]
WantedBy=multi-user.target
