[Unit]
Description=SONM Locator


[Service]
EnvironmentFile=/etc/default/sonm-locator
Type=simple
ExecStart=/usr/bin/sonmlocator --config=${CONFIG_PATH}
Restart=on-failure


[Install]
WantedBy=multi-user.target
